[submodule "vectornav_ros"]
	path = vectornav_ros
	url = http://github.com/vanttec/vectornav_ros.git
[submodule "zed_ros_wrapper"]
	path = zed_ros_wrapper
	url = http://github.com/vanttec/zed_ros_wrapper.git
[submodule "arduino_br"]
	path = arduino_br
	url = http://github.com/vanttec/arduino_br.git
[submodule "vanttec_msgs"]
	path = vanttec_msgs
	url = https://github.com/vanttec/vanttec_msgs.git
[submodule "uuv_control/libs/usv_libs"]
	path = uuv_control/libs/usv_libs
	url = https://github.com/vanttec/usv_libs.git
[submodule "uuv_control/libs/uuv_libs"]
	path = uuv_control/libs/uuv_libs
	url = https://github.com/vanttec/uuv_libs.git
